POSTGRES_USER="user"
POSTGRES_PASSWORD="password"
POSTGRES_DB="database"
POSTGRES_DATABASE_URL="postgres://user:password@ramtun-postgres:5432/database"
LOCAL_POSTGRES_DATABASE_URL="postgres://user:password@localhost:32770/database"

JWT_SECRET="secret"
LDAP_URL="ldap://localhost:389"
LDAP_BASE_DN="dc=example_dc,dc=example_dc,dc=example_dc"

# VPN VARIABLES (DEV_ONLY) ======================

WIREGUARD_PRIVATE_KEY=""
WIREGUARD_PRESHARED_KEY=""
WIREGUARD_IP=""
WIREGUARD_PEER=""
WIREGUARD_ENDPOINT=""
LDAP_ENDPOINT=""

DOCKERHUB_USERNAME=""
